@page
@model Project.Pages.Aliens.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Alien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Alien.Name" class="control-label"></label>
                <input asp-for="Alien.Name" class="form-control" />
                <span asp-validation-for="Alien.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alien.Age" class="control-label"></label>
                <input asp-for="Alien.Age" class="form-control" />
                <span asp-validation-for="Alien.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alien.Color" class="control-label"></label>
                <input asp-for="Alien.Color" class="form-control" />
                <span asp-validation-for="Alien.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alien.ArrivedOnEarth" class="control-label"></label>
                <input asp-for="Alien.ArrivedOnEarth" class="form-control" />
                <span asp-validation-for="Alien.ArrivedOnEarth" class="text-danger"></span>
            </div>
            <label asp-for="Alien.PlanetID" class="control-label">Planet Name</label>
            <select asp-for="Alien.PlanetID" class="form-control" asp-items="ViewBag.PlanetID">
            </select>
            <span asp-validation-for="Alien.PlanetID" class="text-danger"></span>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var cat in Model.AssignedTeamDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedTeams"
                                               value="@cat.TeamID"
                                               @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : "")) />
                                        @cat.TeamID @: @cat.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
